{% extends 'enroll/static/enroll/templates/enroll/base.html'  %}
{%  block content %}
<div class="row">
    <div class="col-sm-3">
        <h4 class= "text-center alert alert-info"> Add New Employee</h4>
<form action="" method="POST">
{%  csrf_token  %}
{{form.as_p}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    Gender:
</body>
</html>






<div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      Male
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
    <label class="form-check-label" for="flexRadioDefault2">
      Female
    </label>
  </div>
  
  <input type="submit" class="btn btn-success" value="Add">
</form>

</div>


<div class= "col-sm-9">
    <h4 class="text-center alert alert-info">Show Employee Information</h4>
    {% if emp %}
            
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Action</th>
                    

                </tr>
                </thead>
                <tbody>
                  {% for em in emp %}   
                <tr>
                    <th scope="row">{{em.id}}</th>
                    <td>{{em.name}}</td>
                    <td>{{em.email}}</td>
                    <td>{{em.password}}</td>
                    <td>
                        <a href="{% url 'updatedata' em.id %}" class="btn btn-warning btn-sm">Edit</a>
                        <form action="{% url 'deletedata' em.id %}" method="post" class="d-inline"> {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>     
                    </td>
                </tr>
                  {%  endfor %}
                </tbody>
            </table>


    {% else %}  
      <h4 class= "text-center alert alert-warning">No Records</h4>
    {%  endif  %}
</div>

</div>
{% endblock content %}